:root {
  --bg: #0f172a;
  --card-bg: #1e293b;
  --text: white;
  --subtext: #94a3b8;
}

.light {
  --bg: #f5f5f5;
  --card-bg: white;
  --text: #0f172a;
  --subtext: #475569;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
}

.top {
  text-align: center;
  padding: 30px 20px;
}

.controls {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#search {
  width: 250px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

#filter-btn {
  padding: 12px 18px;
  background: var(--card-bg);
  border: none;
  color: var(--text);
  border-radius: 10px;
  cursor: pointer;
}

.filter-box {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: var(--card-bg);
  padding: 15px;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 5px 20px #0006;
  z-index: 500;
}

.dropdown label {
  font-size: 0.9rem;
  display: block;
  margin-top: 8px;
}

.dropdown select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  padding: 30px;
}

.card {
  perspective: 1000px;
}

.card .inner {
  width: 100%;
  height: 330px;
  position: absolute;
  transform-style: preserve-3d;
  transition: 0.7s;
}

.card:hover .inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--card-bg);
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}
* {
transition: background 0.25s ease, color 0.25s ease;
}
.front img {
  width: 100%;
  height: 70%;
  object-fit: contain;
  border-radius: 10px;
}

.role {
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--subtext);
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loading {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  display: none;
  opacity: 0.7;
}

#no-results {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  display: none;
  color: var(--subtext);
}

#theme-toggle {
  margin-left: 15px;
  padding: 10px 16px;
  border-radius: 8px;
  background: var(--card-bg);
  color: var(--text);
  border: none;
  cursor: pointer;
}
