* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.splash-container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-image {
  width: 65%;
  animation: zoomIn 2.75s ease forwards;
}

/* The zoom-in effect */
@keyframes zoomIn {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.75);
    opacity: 1;
  }
}
